<nav class="header">
    <div class="header__wrapper">
        <div class="header__icon">
            <a href="https://github.com/AstralEmperor" title="Go to GitHub">
            <img class="header__img" src="../../../assets/Icon-1.png" alt="icon.png">
          </a>
        </div>
        <div class="header__links">
            <a tabindex="0" (click)="navigateToSection('aboutMe')">About Me</a>
            <a tabindex="0" (click)="navigateToSection('skill')">Skills</a>
            <a tabindex="0" (click)="navigateToSection('')">Projects</a>
            <a tabindex="0" (click)="navigateToSection('')">Contact Me</a>
        </div>
    </div>
</nav>