.header{
    position:relative;
    background-color:var(--darkBlue);
    color:var(--white);
    max-height:5rem;
    justify-content:space-between;
    align-items:center;
    z-index:2000;
}
.header__wrapper{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 10%;
}
.header__links{
    display:flex;
    align-items:center;
    height:auto;
    justify-content:flex-end;
    gap:3.5rem;
}
.header__links a{
    color:var(--white);
}
a::after{
    position:absolute;
    content:'';
    display:block;
    height:1px;
    bottom:0;
    width:0px;
    border-bottom:none;
}
a:hover::after,
a:focus::after{
    border-bottom:0.5px solid var(--orange);
    transition: all ease-in 0.35s ;
    width:100%;
}
.header__img{
    height:5rem;
    aspect-ratio: 1;
    object-fit: cover;
    opacity:0.8;
    /* box-shadow: 1px 0px 5px black; */
    /* border-radius:0 0 5px 5px; */
    /* background: linear-gradient(45deg, rgba(255, 165, 0, 1) 20%, rgba(27, 107, 147,1) 50%); */
}
.header__img:hover{
    cursor:pointer;
    opacity:1;
}
.header__menuBtn{
    display:none;
    position:relative;
    flex-direction:column;
    align-items:center;
    justify-content:space-around;
    background-color:transparent;
    border:none;
    gap:2px;
    width:70px;
    height:70px;
    padding:0.5rem;
    cursor:pointer;
}
.line{
    background-color:var(--black);
    flex:3;
    width:100%;
    max-height:3px;
}
@media screen and (max-width:768px){
    .header{
        position:fixed;
        width:100%;
    }
    .header__wrapper{
        padding:0;
    }
    .header__links{
        display:none;
        position:absolute;
        padding-block:2rem;
        top:90px;
        background-color: transparent;
        flex-direction:column;
        width:100%;
    }
   
    .header__menuBtn{
        display:flex;
    }
}
    
