<nav class="header">
    <div class="header__wrapper">
        <div class="header__icon">
            <a target="_blank" rel="noopener" href="https://github.com/AstralEmperor" title="Go to GitHub">
            <img class="header__img" src="../../../assets/Icon-1.png" alt="icon.png">
          </a>
        </div>
        <div class="header__links">
            <a (click)="navigateToSection('aboutMe')">About Me</a> <!--tabindex="0"-->
            <a (click)="navigateToSection('skill')">Skills</a>
            <a (click)="navigateToSection('project')">Projects</a>
            <a (click)="navigateToSection('contact')">Contact Me</a>
        </div>
        <div class="header__menuBtn">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </div>
    </div>
</nav>