.button__container{
    padding-top:1.5rem;
}
button{
    border-radius: 20px;
    opacity:0.8;
    border:none;
    border-bottom:0.5px solid var(--black);
}
button:hover{
    cursor:pointer;
    opacity:1;
}
*{
    font-family: 'VT323', monospace;
}