<section id="project" class="project">
  <div class="project__container">
    <div class="title">
        <title-blueprint title="My Projects"></title-blueprint>
    </div>
    <div class="singleProject__container">
        <project linkGitHub="https://github.com/AstralEmperor/FrontEnd" linkLiveView="" name="Portfolio" 
        image="assets/portfolio.png" alt="portfolio.png"
        text="This portfolio is the most recent project of mine, and is done using Angular as means to learn and use it on my own"
        tagName="HTML" tagName2="CSS" tagName3="TS" tagName4="Angular"></project>

        <project linkGitHub="https://github.com/AstralEmperor/Application" linkLiveView="https://astralemperor.github.io/Application/index.html" name=" 'Fresh & Green' - App"
        image="assets/MyApp.png" alt = "my_first_app.png"
        text="App which started as an Intern project; This app is a prototype market for buying/selling fruits and vegetables. Includes usage of dynamicly generated data through json or localStorage"
        tagName="HTML" tagName2="CSS" tagName3="JS" tagName4="JSON" tagName5="NPM"></project>

        <project linkGitHub="https://github.com/AstralEmperor/VegaIT--project2" linkLiveView="" name="Test project for VegaIT" 
        image="assets/vegaIT-project.png" alt="test_project-VegaIT.png"
        text="A site that was made as a test project for VegaIT and later further upgraded"
        tagName="HTML" tagName2="SCSS" tagName3="JS"></project>

        <project linkGitHub="https://github.com/AstralEmperor/Astudio-Site" linkLiveView="https://competent-lichterman-d1a83c.netlify.app/home" name="Game introduction WebSite" 
        image="assets/My_Game_Site.png" alt="astudio_site.png"
        text="My first website, which was made to showcase the game i was working on at the time. Done 2021.."
        tagName="HTML" tagName2="CSS" tagName3="JS"></project>

    </div>
  </div>
</section>