.project{
    color:var(--white);
    position:relative;
    height:auto;
    width:100%;
    background:url('../../../../assets/some_pattern.webp');

    background-color:var(--orange2);
    background-blend-mode:hard-light;
    padding:5rem 0;
    font-size:1.2rem;
}
.title{
    width:100%;
    text-align:center;
    margin-bottom:2rem;
    color:var(--darkBlue);
    -webkit-text-stroke: 0.1px black;
}
.singleProject__container{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    width:100%;
    gap:2rem;
}
.project__container{
    width:100%;
    padding:0 10%;
}