<section class="project">
  <div class="project__container">
    <div class="title">
        <title-blueprint title="My Projects"></title-blueprint>
    </div>
    <div class="singleProject__container">
        <project linkGitHub="" linkLiveView="" name="Portfolio" image="" 
        text="This portfolio is the most recent project of mine, and is done using Angular"></project>

        <project linkGitHub="" linkLiveView="" name="My First App" image="" 
        text="App which started as an Intern project, has basic login, pagination, AJAX and more.Still in development"></project>

        <project linkGitHub="" linkLiveView="" name="Test project for VegaIT" image=""
        text="A site that was made as a test project for VegaIT and later further upgraded"></project>

        <project linkGitHub="https://github.com/AstralEmperor/Astudio-Site" linkLiveView="https://competent-lichterman-d1a83c.netlify.app/home" name="Game introduction WebSite" image=""
        text="My first website, which was made to showcase the game i was working on at the time. Done 2 years ago."></project>

        <project linkGitHub="" linkLiveView="" name="Space Mission WebSite" image=""
        text="This site was done for practice of Carousel, and some other JS functions."></project>
    </div>
  </div>
</section>