.tag__container{
margin:1rem;
width:fit-content;
}
.tag{
    padding:0.25rem 0.5rem 0.25rem 0.5rem;
    border-radius:5px;
    text-align:center;
}
.tag__img{
    width:100px;
    aspect-ratio:1;
    background-color: transparent;
}
@media screen and (max-width:420px){
    .tag__img{
        width:75px;
    }
}