<section class="title">
    <div class="title__line"></div>
    <div class="title__line title__line--2"></div>
    <div class="title__line title__line--3"></div>
    <div class="title__container">
        <div class="title__text-wrap">
            <div class="title__title-H1">
            <h1>Hello there! I am <span class="title__name">Marko</span></h1>
            </div>
        <p class="title__text">A <strong>Front End Angular Developer</strong> and an <strong>Indie Game Dev</strong></p>
        <default-button></default-button>
    </div>
        <div class="title__imgCont">
            <img src ="../../../assets/ProfilePicPixel.png" alt="profile.png">
        </div>
    </div>
</section>