<section id="skill" class="skills">
    <div class="skills__container">
        <div class="skills__title-container">
            <title-blueprint class="skills__title" color="var(--black)" title="Skills"></title-blueprint>
        </div>
        <div class="skills__secondaryContainer">
            <div class="skills__text">
                <tags image ="../../../../assets/html-icon.png" altText="html-icon.png" text="HTML"></tags>
                <tags image ="../../../../assets/css-icon.png" altText="css-icon.png" text="CSS"></tags>
                <tags image ="../../../../assets/javascript-icon.png" altText="javascript-icon.png" text="JavaScript"></tags>
                <tags image ="../../../../assets/json-icon.png" altText="json-icon.png" text="JSON"></tags>
                <tags image ="../../../../assets/sass-icon.png" altText="sass-icon.png" text="SCSS"></tags>
                <tags image ="../../../../assets/typescript-icon.png" altText="typescript-icon.png" text="TypeScript"></tags>
                <tags image ="../../../../assets/angular-icon.png" altText="angular-icon.png" text="Angular"></tags>
                <tags image ="../../../../assets/npm-icon.png" altText="npm-icon.png" text="npm"></tags>
            </div>
        </div>
    </div>
</section>