<section id="skill" class="skills">
    <div class="skills__container">
        <div class="skills__title-container">
            <title-blueprint class="skills__title" color="var(--black)" title="Skills"></title-blueprint>
        </div>
        <div class="skills__secondaryContainer">
            <div class="about__text">
                <tags text="HTML"></tags>
                <tags text="CSS"></tags>
                <tags text="JavaScript"></tags>
                <tags text="JSON"></tags>
                <tags text="SCSS"></tags>
                <tags text="TypeScript"></tags>
                <tags text="Angular"></tags>
                <tags text="Git"></tags>
                <tags text="Node.js"></tags>
            </div>
            <div class="about__imgContainer">

            </div>
        </div>
    </div>
</section>