
<div class="container">
    <div class="image__container">
        <img src="{{image}}" class="image" alt="{{alt}}">
    </div>
    <div class="secondary__container">
        <div class="buttons__wrap">
            <button *ngIf="linkGitHub"><a target="_blank" rel="noopener" href="{{linkGitHub}}">GitHub</a></button>
            <button *ngIf="linkLiveView"><a target="_blank" rel="noopener" href="{{linkLiveView}}">Live Preview</a></button>
        </div>
        <div class="text__container">
            <h3>{{name}}</h3>
            <p>{{text}}</p>
        </div>
        <div class="tag__container">
            <div class="tag" [ngStyle]="{
             'color':color,
             'background-color':bgColor,
             'font-size':fontSize,
             }">
             {{tagName}}
           </div>
           <div class="tag" [ngStyle]="{
            'color':color,
            'background-color':bgColor,
            'font-size':fontSize,
            }">
            {{tagName2}}
          </div>
          <div class="tag" [ngStyle]="{
            'color':color,
            'background-color':bgColor,
            'font-size':fontSize,
            }">
            {{tagName3}}
          </div>
          <div *ngIf="tagName4" class="tag" [ngStyle]="{
            'color':color,
            'background-color':bgColor,
            'font-size':fontSize,
            }">
            {{tagName4}}
          </div>
          <div *ngIf="tagName5" class="tag" [ngStyle]="{
            'color':color,
            'background-color':bgColor,
            'font-size':fontSize,
            }">
            {{tagName5}}
          </div>
         </div>
    </div>
</div>