<div class="footer">
    <div class="footer-wrapper">
        <div class="icons">
            <a target="_blank" rel="noopener"><img src="../../../assets/instagram.png" alt="instagram"></a>
            <a href="https://www.facebook.com/Lordmkking/" target="_blank" rel="noopener"><img src="../../../assets/facebook.png" alt="facebook"></a>
            <a href="https://github.com/AstralEmperor" target="_blank" rel="noopener"><img src="../../../assets/github.png" alt="github"></a>
            <a target="_blank" rel="noopener"><img src="../../../assets/linkedin.png" alt="linkedin"></a>
        </div>
        <div></div>
    <div class="copyright">
        © Marko Kovačević 2023 | All rights reserved
    </div>
    </div>
</div>