/* You can add global styles to this file, and also import other style files */
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
:root{
    font-size:18px;
    scroll-behavior: smooth;
    font-family: 'VT323', monospace;
   --darkBlue:rgb(22, 75, 96);
   --blue:rgb(27, 107, 147);
   --white:#ffffff;
   --orange:#ffa500;
   --orange2:#be7c00;
   --darkOrange:#8d5f09;
   --brown:#b9a379;
   --lightBlue:#4FC0D0;
   --black:#000000;
   --darkVariantBlue:rgb(0, 75, 105);
   --darkVariantBlue2:rgb(14, 54, 70);
   --snowGray: #dddddd;
   --darkGray:#585E61;
   --veryDarkGray:#333536;
   --gray: #8E979C;
   --footer:rgb(10, 34, 44);
}
li{
    list-style:none;
}
a{
    position:relative;
    text-decoration:none;
    border-bottom:none;
    cursor:pointer;
}

strong{
    color:var(--lightBlue)
}
@media screen and (max-width:768px){
    :root{
        font-size:14px;
    }
}