/* You can add global styles to this file, and also import other style files */
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
:root{
    font-size:1rem;
    scroll-behavior: smooth;
   --darkBlue:rgb(22, 75, 96);
   --blue:rgb(27, 107, 147);
   --white:#ffffff;
   --orange:#ffa500;
   --lightBlue:#4FC0D0;
   --black:#000000;
   --veryDarkBlue:rgb(33, 51, 99);
}
li{
    list-style:none;
}
a{
    position:relative;
    text-decoration:none;
    border-bottom:none;
}
a::after{
    position:absolute;
    content:'';
    display:block;
    height:1px;
    bottom:0;
    width:0px;
    border-bottom:none;
}
a:hover::after,
a:focus::after{
    border-bottom:0.5px solid var(--orange);
    transition: all ease-in 0.35s ;
    width:100%;
}
strong{
    color:var(--lightBlue)
}