<section id="title" class="title">
    <div class="title__line"></div>
    <div class="title__line title__line--2"></div>
    <div class="title__line title__line--3"></div>
    <div class="title__container">
        <div class="title__text-wrap">
            <div class="title__title-H1">
            <h1>Hello there! I am <span class="title__name">Marko</span></h1>
            </div>
        <p class="title__text">A <strong>Front End Developer</strong> and a <strong>Pixel Artist</strong></p>
        <default-button class="title__button"(click)="goTo('project')" color="var(--veryDarkGray)" type="button" text="Go To Projects →"></default-button>
    </div>
        <div class="title__imgCont">
            <img src ="assets/ProfilePicPixel.png" alt="profile.png">
        </div>
    </div>
</section>